.bookshelf {
  width: 420px;
  background: #613613;
  height: 400px;
  margin-top: -5px;
}

.shelf {
  background: #2b1700;
  max-width: 100%;
  height: 150px;
  margin: 20px;
  display: flex;
}

.vcr-shelf {
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.vcr {
  height: 110px;
}
